*{
    padding: 0;
    margin: 0;
}
body{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 900, 400;
    line-height: normal;
}
p{
    font-size: 16px;
    color: #27272799;
    line-height: 25px;
}
.container{
    background-color: rgba(229, 84, 115, 0.10);
    padding-top: 50px;
    
}
.banner-content{
    width: 80%;
    margin: 0 auto;
}
.banner{
    display: flex;
    align-items: center;
   
}
.banner-description h1{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 900;

}
.banner-description p{
    padding: 20px 0; 
}
.btn{
    padding: 20px 43px;
    text-transform: capitalize;
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background-color: red;
}
.banner-img{
    width: 100%;
    margin-left: 20px;
}
 /* end the banner section  */
 /* feature section start  */

.feature-container{
    
    margin: 0 auto;
    padding: 80px 0 50px;
    text-align: center; 
 }
 .feature-container h3{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 900;
 }
 .feature-img h4{
    text-decoration: underline;
    cursor: pointer;
    margin-top: 25px;
}
.feature-content{
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    padding: 50px 0;
 }
 .feature-pic{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
 }
 .feature-pic1{
   background-color: rgba(5, 151, 160, 0.15);
   border-radius: 300px 300px 0px 0px;
 }
 .feature-pic3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
 }

 .photo{
    height: 438px;
    padding: 50px 30px 0px 30px; 
}
/* delivery section starts  */
.delivery-container{
    width: 75%;
    margin: 0 auto;
    padding: 50px 0px; 
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.delivery-content{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}
.delivery h4{
    margin-top: 15px;
    color: #272727CC;
}
/* delivery section end  */
/* deal section start  */
.deal{
    background-color: #E554730D;
    padding: 50px 0;
    margin-top: 120px;
}
.deal-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.deal-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.deal-left h2 {
    font-weight: 900;
}
.color-red span{
    color: #E55473;
}
.deal-left p{
    padding: 20px 0;
}
.deal-right img{
    width: 100%; 
}
/* deal section end  */
/* social media section start  */
.social-content{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}
.social-content h3{
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 20px;
}
.social-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 35px 0; 
}
.photo2{
    margin: 0;
    padding: 0;
}
.photo2 img{
    width: 100%; 
}
/* end the social section  */
/* start blog section  */
.blog-container{
    width: 75%;
    margin: 0 auto;
    background-color: rgb(179, 171, 171);
    border-radius: 10px;
    margin-bottom: 100px;
    padding-bottom: 35px;
}
.blog-title{
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px;
    font-weight: 900;
}
.blog-title span{
    color: red;
}
.blog{
    width: 30%;
    cursor: pointer;
}
.blog-pic{
    width: 100%;
    border-radius: 8px;
}
.blog-content{
    display: flex;
    justify-content: space-around;
    text-align: justify;
}
/* end blog section */
/* start newslatter section  */
#newslatter{
    margin-bottom: 80px;
}
.news-container{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    background-image: url('./images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0 100px;
}
.newslatter h2{
    font-weight: 900;
    padding-bottom: 25px;
}
.subcription{
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
}
input[type=email] {
    width: 50%;
    padding: 19px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }
  /* end the newslatter section  */
  /* footer section starts  */
  #footer-section{
    background-color: #111010;
    color:white;
    padding: 80px 0;
  }
  .footer-container{
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
  .footer-content h1 span{
    color: #E55473;
  }
  .footer-content p{
    color: white;
    padding: 15px 0;
  }
  /* footer section end  */







